$color-bg: #fff;
$color-bg-header: #efefef;
$color-text-title: #8d9cae;
$color-link: #8d9cae;
$color-text-footer: #8d9cae;
$color-text: #8abfc6;
$color-base: #91eecc;
$color-btn-after: #11c182;
$color-main-line: #8d9cae;
$color-content-bg-right: #5aeafe;
$color-content-bg-left: #5afe92;