.header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color-bg-header;
    margin-bottom: 64px;

    &-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}