footer.footer
    .footer__links
        a.footer__link.footer__link--help.link(href='#') Помощь
        a.footer__link.footer__link--support.link(href='#') Поддержать
        //- a.footer__link.footer__link--question.link(href='#') В slack
    // /.footer__links
    .footer__copy
        p.footer__text © 2019 лягушкавобмороке.рф - помогаем в развитие творчества у детей
    // /.footer__copy
    .footer__icons
        img.footer__icon(src='./img/icons/child.png', alt='Иконка 1')
        img.footer__icon(src='./img/icons/hand-holding-heart.png', alt='Иконка 4')
        img.footer__icon(src='./img/icons/frog.png', alt='Иконка 5')
    // /.footer_icons
