header.header
    .container
        .header-block
            a.header-block__logo(href='./index.html')
                img.logo_img(src='./img/logo_frog.png', alt='логотип лягушка в обмороке')
            .header-block__links
                a.link.header__link(href='./rules.html') Наши правила
