.main-name
    .main-name__heading.col-12.col-sm-8
        h1.header-h1            
            |Лягушка в
            <br> 
            |обмороке
    // /.main-title__heading
    .main-name__logo.col-sm-4
        img.logo_img.main-name__img(src='./img/logo_frog.svg', alt='логотип лягушка в обмороке')
    // /.main-title_logo
