doctype html
html(lang='ru', prefix='og: http://ogp.me/ns#')
    include block/head.pug
        title Лягушка в Обмороке Помощь
    body#help
        include block/header.pug
        main.main
            .container
                //- include components/main-title.pug
                h2.header-h2.main__heading Помощь
                .main-items
                    .main-item
                        p.main-item__text
                            | В данном разделе мы постарались ответить на наиболее часто задаваемые вопросы участников конкурса «Лягушка в обмороке».
                    .main-item
                        p.main-item__text
                            | Если Вы внимательно прочли и выявили ошибки или появились вопросы, задайте их по электронной почте help@frointfrog.ru
                    .main-item
                        h3.main-item__header
                            | Как принять участие в конкурсах?
                        p.main-item__text
                            | Ознакомиться с Правилами участия в конкурсах и викторинах;
                        p.main-item__text 
                            | Оформить онлайн заявку на сайте;
                    .main-item
                        h3.main-item__header
                            | Публикуются ли на нашем сайте работы?
                        p.main-item__text
                            | Нет, непосредственно сами работы не публикуются. Но с развитием проекта и появления новых возможностей в будущем надеемся что сможем опубликовать работы в Галерее.
                    .main-item
                        h3.main-item__header
                            | Как можно узнать, что конкурсные материалы успешно прошли регистрацию?
                        p.main-item__text
                            | Если в течение суток Вам не пришло сообщение о регистрации Вашей заявки на конкурс или викторину, необходимо сообщить об этом на help@frointfrog.ru.
                        p.main-item__text
                            | Также мы рекомендуем проверить папку СПАМ в Вашем почтовом ящике (в крайне редких случаях письма попадают именно туда). Для ящиков gmail.com рекомендуем проверить таже вкладку ПРОМОАКЦИИ.
                    .main-item
                        h3.main-item__header
                            | Может ли руководитель участника заказать себе наградной документ?
                        p.main-item__text
                            | Руководитель участника мероприятия может заказать себе наградной документ в момент формирования заявки — требуется поставить галочку около пункта «Диплом для руководителя».
                        p.main-item__text
                            | Также диплом можно заказать позже, уведомив нас по адресу help@frointfrog.ru
                    .main-item
                        h3.main-item__header
                            | В каком виде участникам мероприятий отправляются наградные документы?
                        p.main-item__text
                            | После подведения итогов, каждый участник дистанционных мероприятий получает диплом (сертификат, свидетельство) в электронном виде.
                        p.main-item__text
                            | Они автоматически отправляются на Вашу электронную почту.
                    .main-item
                        h3.main-item__header
                            | Что делать, если при регистрации заявке была введена неверная электронная почта?
                        p.main-item__text
                            | Вся связь с участниками конкурса, уведомления и выдача результатов осуществляется через электронную почту.
                        p.main-item__text
                            | Поэтому, если Вы в заявке указали некорректный адрес (с ошибкой), мы лишаемся возможности отправить Вам письмо, диплом. Переписка с Вами невозможна. Сообщите нам об этом на help@frointfrog.ru и мы решим вопрос.
                    .main-item
                        h3.main-item__header
                            | В какие сроки участникам рассылаются наградные документы по итогам мероприятий?
                        p.main-item__text
                            | Сроки подведения результатов составляют приблизительно 1-2 недели.
                    .main-item
                        h3.main-item__header
                            | Почему я не получил диплом и результаты?
                        p.main-item__text
                            | — В заявке неправильно указан адрес электронной почты участника;
                        p.main-item__text
                            | — Письмо с наградными документами попало в папку «Спам» или «Промоакции»;
                        p.main-item__text
                            | — В заявке был указан адрес одного ящика, а участник ждет документы на другой ящик;
                        p.main-item__text
                            | — Письмо с документами не отправилось по техническим причинам.
                        p.main-item__text
                            | Если вы не получили наградные документы по итогам мероприятия:
                        p.main-item__text
                            | — проверьте внимательно почту – возможно, вы не заметили или пропустили письмо;
                        p.main-item__text
                            | — проверьте все почтовые ящики, если у вас их несколько;
                        p.main-item__text
                            | — сообщите нам о неполучении документов, и мы отправим их вам повторно.
                        p.main-item__text
                            | Убедительная просьба, вести переписку с сайтом с одного адреса!
                    .main-item
                        h3.main-item__header
                            | В наградном документе допущена ошибка. Как её можно исправить?
                        p.main-item__text
                            | Сообщите нам об этом на адрес help@frointfrog.ru, указав конкретно на ошибку, и мы исправим её в кратчайшие сроки.
                    .main-item
                        h3.main-item__header
                            | Где оплата?
                        p.main-item__text
                            | Оргвзносы за дипломы и быстрое решение по работам участников временно не принимаются. На стадии проработки и внедрения.
                        p.main-item__text.d-none
                            | Нас можно поддержать или выразить благодарность - воспользуйтесь формой ниже. Полученные средства пойдут на содержание и дальнейшее развитие проекта (подробнее см. Поддержка)
                    .main-caption
                        p.main-caption__text
                            | Администрация сайта лягушкавобмороке.рф
                        p.main-caption__text
                            | admin@frointfrog.ru
        include block/footer.pug
