doctype html
html(lang='en')
	include components/head.pug
		title Лягушка в Обмороке
	body
		include components/header.pug
		main.main(role='main')
			.container
				include layots/main-title.pug
				h2.header-h2.main__heading Конкурсы рисунков
				// /.main-title
				.main-content
					.main-content__block
						p.main-content__text.main-content__text--left
							| Мы проводим конкурсы, чтобы развить в детях творческие способности, помочь детям продемонстрировать свои таланты и поделиться своим творческим воображением.
					.main-content__block
						p.main-content__text.main-content__text--right
							| Конкурс рисунков для детей дошкольного и школьного возраста, педагогов и учителей.
				// /.main-content
		include components/footer.pug
