doctype html
html(lang='ru', prefix='og: http://ogp.me/ns#')
	include block/head.pug
		include components/favicon.pug
		title Лягушка в Обмороке
	body
		include block/header.pug
		main.main
			.container
				include components/main-name.pug
				h2.header-h2.main__subtitle Конкурсы рисунков
				.main-content
					.main-content__block
						p.main-content__text.main-content__text--left
							| Мы проводим конкурсы, чтобы развить в детях творческие способности, помочь детям продемонстрировать свои таланты и поделиться своим творческим воображением.
					.main-content__block
						p.main-content__text.main-content__text--right
							| Конкурс рисунков для детей дошкольного и школьного возраста, педагогов и учителей.
				// /.main-content
		include block/footer.pug
