doctype html
html(lang='ru', prefix='og: http://ogp.me/ns#')
    include block/head.pug
        title Лягушка в Обмороке наши правила
    body
        include block/header.pug
        main.main
            .container
                //- include components/main-title.pug
                h2.header-h2.main__heading Наши правила
                .main-items
                    .main-item
                        p.main-item__text
                            | В данном разделе участники могут ознакомиться с нашими положениями и правилами проведения конкурса «Лягушка в обмороке».
                    .main-item
                        p.main-item__text
                            | Если Вы внимательно прочли и выявили ошибки или появились вопросы, задайте их по электронной почте help@frointfrog.ru
        include block/footer.pug
