doctype html
html(lang='en')
    include components/head.pug
        title Лягушка в Обмороке наши правила
    body
        include components/header.pug
        main.main(role='main')
            .container
                //- include layots/main-title.pug
                h2.header-h2.main__heading Наши правила
                .main-items
                    .main-item
                        p.main-item__text
                            | В данном разделе участники могут ознакомиться с нашими положениями и правилами проведения конкурса «Лягушка в обмороке».
                    .main-item
                        p.main-item__text
                            | Если Вы внимательно прочли и выявили ошибки или появились вопросы, задайте их по электронной почте help@frointfrog.ru
        include components/footer.pug
