footer.footer
    .footer__links
        a.footer__link.footer__link--help.link(href='#') Помощь
        a.footer__link.footer__link--support.link.d-none(href='#') Поддержать
        a.footer__link.footer__link--question.link.d-none(href='https://join.slack.com/t/frointfrog/shared_invite/enQtOTE0MDk5MzAyODk3LTNhNTE2NzM1ZTIzMzZiZTg0OWI1Y2IyODNmYWY0MWI4ZjkwYWViNjgxN2ZkMWQ4YjVkNTA3ZDQyNGFlMmI1YTE') В slack
        a.footer__link.footer__link--question.link(href='#') Контакты
    // /.footer__links
    .footer__copy
        p.footer__text © 2020 лягушкавобмороке.рф - помогаем в развитие творчества у детей
    // /.footer__copy
    .footer__icons
        img.footer__icon(src='./img/icons/child.png', alt='Иконка 1')
        img.footer__icon(src='./img/icons/hand-holding-heart.png', alt='Иконка 4')
        img.footer__icon(src='./img/icons/frog.png', alt='Иконка 5')
    // /.footer_icons
