head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='og:title', content='Лягушка в Обмороке')
    meta(name='og:description', content='Конкурс рисунков для детей дошкольного и школьного возраста, педагогов и учителей. Мы проводим конкурсы, чтобы развить в детях творческие способности, помочь детям продемонстрировать свои таланты и поделиться своим творческим воображением.')
    meta(name='og:url', content='https://frointfrog.ru')
    meta(name='og:site_name', content='Лягушка в Обмороке')
    meta(name='og:type', content='website')
    meta(property='og:image', content='https://frointfrog.ru/img/logo_meta.jpg')
    meta(property='og:locale', content='ru_RU')
